<div class="transaction-container">
  <div class="header">
    <h2>Transactions</h2>
    <button class="btn-add" (click)="openForm()">+ Add Transaction</button>
  </div>

  <!-- Loading i Error -->
  <div *ngIf="loading$ | async" class="loading">Loading...</div>
  <div *ngIf="error$ | async as error" class="error">{{ error }}</div>

  <!-- Lista transakcija -->
  <ng-container *ngIf="transactions$ | async as transactions">
    <app-transaction-list
    [transactions]="transactions"
    (deleteTransaction)="deleteTransaction($event)">
    </app-transaction-list>
    </ng-container>

  <!-- Modal backdrop -->
  <div class="modal-backdrop" 
    *ngIf="isFormOpen$ | async" 
    (click)="closeForm()">
  </div>

  <!-- Modal -->
  <div class="modal" 
    *ngIf="isFormOpen$ | async" 
    (click)="$event.stopPropagation()">
    <app-transaction-form
      (save)="addTransaction($event)"
      (cancel)="closeForm()">
    </app-transaction-form>
  </div>
</div>